@layer base {
  @font-face {
    font-family: "IM Fell";
    src:
      url("/fonts/IM_FELL_English_Roman.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/IM_FELL_English_Roman.woff")
        format("woff"),
      /* Modern Browsers */ url("/fonts/IMFellEnglish-Regular.ttf")
        format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "IM Fell";
    src:
      url("/fonts/IM_FELL_English_Italic.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/IM_FELL_English_Italic.woff")
        format("woff"),
      /* Modern Browsers */ url("/fonts/IMFellEnglish-Italic.ttf")
        format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;
  }
}

@layer base {
  html * {
    font-family: "IM Fell", system-ui, sans-serif;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media not print {
  body {
    background: #e2e2e2;
  }

  page {
    background: #fefefe;
    width: 21cm;
    min-height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    border: 1.25cm solid #fefefe;
    font-family: "IM Fell", system-ui, sans-serif;
  }
}

@media print {
  /* Dimension et marges de page */
  @page {
    size: A4 portrait;
    margin: 2cm 1.5cm;
  }

  .pagebreak {
    page-break-before: always;
  }
}

.bg {
  text-align: justify;
  white-space: pre-line;
}

.trombi {
  text-align: justify;
}

.characteristic {
  display: grid;
  grid-template-columns: 70px 80px 160px;
  gap: 5px;
  align-items: center;
}

.characteristic__label {
  font-size: 1.2rem;
}

.characteristic__level {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.characteristic__level__value {
  border: solid 8px black;
  background-color: white;
  width: fit-content;
  block-size: fit-content;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 50px;

  line-height: 50px;
  text-align: center;
}

.characteristic__description {
  font-size: 0.8rem;
}

.section1 div {
  grid-row: 1;
}

.section1 {
  display: grid;
  grid-template-columns: 350px auto;
  grid-column-gap: 10px;
  height: 264px;
}

.section1 .vl {
  border-left: 2px solid black;
  height: 100%;
}

.section1 .vll {
  border-left: 3px solid black;
  height: 100%;
}

.handicaps ul {
  padding: 0;
}

.inventory ul {
  padding: 10px;
  margin-top: 0;
}

.handicaps li,
.inventory li {
  list-style: none;
}

.inventory h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.quests ul {
  padding: 0;
}

.quest {
  list-style: none;
  position: relative;
  border: solid 3px black;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  text-align: left;
}

.quest h3 {
  margin-top: 0;
}

.quest:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid #000000;
  z-index: 1;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.spacer-xs {
  height: 10px;
  width: 100%;
}

.spacer-s {
  height: 15px;
  width: 100%;
}

.spacer-m {
  height: 20px;
  width: 100%;
}

.spacer-xl {
  display: block;
  height: 40px;
  width: 100%;
}
